name: Release

on:
  workflow_dispatch:
  push:
    tags: ["v*"]
    branches: [main]

jobs:
  docker-images:
    name: Docker images
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: crazy-max/ghaction-docker-buildx@v1
        with:
          version: latest

      - name: Login to GHCR
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set image registry and tag
        run: |
          case "${GITHUB_REF}" in
            refs/heads/main)
              TAG="latest"
              ;;
            refs/tags/v*)
              TAG=${GITHUB_REF/refs\/tags\//}
              ;;
            *)
              TAG=${GITHUB_REF/refs\/*\//}
              ;;
          esac
          echo "REGISTRY=ghcr.io/${{ github.repository_owner }}" >> $GITHUB_ENV
          echo "VERSION=${TAG}" >> $GITHUB_ENV

      - name: Build and publish multi-arch images
        run: |
          make docker-release
        working-directory: images
